* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  background-color: #f5f5f5;
  color: #ffffff;
}

.home-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 50px 20px;
  animation: backgroundAnimation 10s linear infinite;
}


.hero-title {
  font-size: 3.5em;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 20px;
  animation: titleColorChange 4s ease-in-out infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #d5b951;
  }
  50% {
    background-color: #8860cd;
  }
  100% {
    background-color: #d5b951;
  }
} 

.hero-small-title {
  font-size: 2em;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 15px;
  animation: smallTitlePulse 2s ease-in-out infinite;
}

.hero-description {
  font-size: 1.5em;
  color: #34495e;
  margin-bottom: 20px;
  line-height: 1.4;
  animation: descriptionMove 3s ease-in-out infinite alternate;
}


.location {
  font-size: 1.2em;
  color: #34495e;
  margin-top: 10px;
  font-weight: bold;
  animation: locationBounce 1.5s ease-in-out infinite;
}


