<nav class="navbar" dir="rtl">
    <ul class="nav-list">
      <li class="nav-item">
        <a mat-button routerLink="/action" routerLinkActive="active-link">
          <mat-icon>rocket_launch</mat-icon> דף הבית
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/monthly" routerLinkActive="active-link">
          <mat-icon>table_chart</mat-icon> תצוגת נתונים 
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/avrechim-list" routerLinkActive="active-link">
          <mat-icon>group</mat-icon> רשימת אברכים
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/add-data" routerLinkActive="active-link">
          <mat-icon>add_circle</mat-icon> הוספת נתונים חודשיים
        </a>
      </li>
    </ul>
  </nav>
  