<div style="text-align: center; margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="exportToExcel()">ייצא לאקסל</button>
  </div>
  

<!-- <div class="scrollable-container" dir="rtl"> -->
    <div dir="rtl" class="form-section" style="display: flex; gap: 15px; flex-wrap: wrap; margin: 20px; width: 50%; margin-left: 400px;">
        <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
          <mat-label>חודש</mat-label>
          <input matInput type="text" [(ngModel)]="selectedMonth" (ngModelChange)="getRecords()" placeholder="לדוגמה: חשוון" />
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
          <mat-label>שנה</mat-label>
          <input matInput type="text" [(ngModel)]="selectedYear" (ngModelChange)="getRecords()" placeholder="לדוגמה: תשפ" />
        </mat-form-field>

        <mat-form-field appearance="outline" style="flex: 1; min-width: 200px;">
          <mat-label>שם</mat-label>
          <input matInput type="text" [(ngModel)]="searchName" (ngModelChange)="getRecords()" placeholder="חפש לפי שם" />
        </mat-form-field>
        
      </div>
    <div class="scrollable-container" dir="rtl">
    <mat-card class="scrollable-table">
      <mat-table [dataSource]="records" class="mat-elevation-z3">
        <!-- <ng-container matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index"> 
            <button mat-icon-button >
              <mat-icon>delete</mat-icon>
            </button>          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container> -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef style="flex: 2;"> </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index" style="flex: 2;">
            <ng-container *ngIf="!isEditing(i)">
              <button mat-icon-button matTooltip="מחק" matTooltipPosition="above">
                <mat-icon style="color: rgb(202, 0, 0);" >delete</mat-icon>
              </button>
              <button mat-icon-button (click)="editRow(i)" matTooltip="ערוך" matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <mat-icon class="clickable-icon" (click)="saveRow(record)" matTooltip="שמור" matTooltipPosition="above">save</mat-icon>
              <mat-icon class="clickable-icon" (click)="cancelEdit()" matTooltip="בטל" matTooltipPosition="above">close</mat-icon>
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef style="flex: 2;"></mat-footer-cell>
        </ng-container>
        
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef style="flex: 1;"> מס' </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index" style="flex: 1;"> {{ i + 1 }} </mat-cell>
          <mat-footer-cell *matFooterCellDef style="flex: 1;"></mat-footer-cell>
        </ng-container>
        
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> שם </mat-header-cell>
          <mat-cell *matCellDef="let record" (click)="onAbrekClick(record.personId)"   style="cursor: pointer;"> 
              {{ getAvrechName(record.personId) }} 
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <ng-container matColumnDef="month">
          <mat-header-cell *matHeaderCellDef> חודש </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.month }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" matInput [(ngModel)]="record.month" (ngModelChange)="calculateTotalAmount(record)"(ngModelChange)="calculateOrElchanan(record)"  (ngModelChange)="calculateAdd(record)"/>
            </ng-container>         
         </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> שנה </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.year }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" matInput [(ngModel)]="record.year" (ngModelChange)="calculateTotalAmount(record)"(ngModelChange)="calculateOrElchanan(record)"  (ngModelChange)="calculateAdd(record)"/>
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <ng-container matColumnDef="baseAllowance">
          <mat-header-cell *matHeaderCellDef> מלגת בסיס </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.baseAllowance }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" type="number" matInput [(ngModel)]="record.baseAllowance" (ngModelChange)="calculateTotalAmount(record)"(ngModelChange)="calculateOrElchanan(record)"  (ngModelChange)="calculateAdd(record)"/>
            </ng-container>            </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <ng-container matColumnDef="isChabura">
          <mat-header-cell *matHeaderCellDef>  חבורה </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.isChabura ? '✅' : '❌' }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <mat-checkbox [(ngModel)]="record.isChabura" (ngModelChange)="calculateTotalAmount(record)"(ngModelChange)="calculateOrElchanan(record)"  (ngModelChange)="calculateAdd(record)"></mat-checkbox> 
            </ng-container>          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <ng-container matColumnDef="didLargeTest">
          <mat-header-cell *matHeaderCellDef> מבחן </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.didLargeTest ? '✅' : '❌' }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <mat-checkbox [(ngModel)]="record.didLargeTest" (ngModelChange)="calculateTotalAmount(record)"(ngModelChange)="calculateOrElchanan(record)"  (ngModelChange)="calculateAdd(record)"></mat-checkbox>
            </ng-container>          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <ng-container matColumnDef="datot">
          <mat-header-cell *matHeaderCellDef> דתות </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.datot }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" type="number" matInput [(ngModel)]="record.datot" (ngModelChange)="calculateTotalAmount(record)"(ngModelChange)="calculateOrElchanan(record)"  (ngModelChange)="calculateAdd(record)"/>
            </ng-container>             </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <ng-container matColumnDef="totalAmount">
          <mat-header-cell *matHeaderCellDef> סכום סופי </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.totalAmount }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" type="number" matInput [(ngModel)]="record.totalAmount" (ngModelChange)="calculateOrElchanan(record)"  (ngModelChange)="calculateAdd(record)"/>
            </ng-container>            </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="orElchanan">
          <mat-header-cell *matHeaderCellDef> אור אלחנן </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.orElchanan }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" type="number" matInput [(ngModel)]="record.orElchanan" (ngModelChange)="calculateAdd(record)"/>
            </ng-container>            </mat-cell>
          <mat-footer-cell *matFooterCellDef> סה"כ: {{ getTotalOrElchanan() }} </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="addAmount">
          <mat-header-cell *matHeaderCellDef> יתרה </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.addAmount }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" type="number" matInput [(ngModel)]="record.addAmount" />
            </ng-container>            </mat-cell>
          <mat-footer-cell *matFooterCellDef> סה"כ: {{ getTotalAddAmount() }} </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="notes">
          <mat-header-cell *matHeaderCellDef> הערה </mat-header-cell>
          <mat-cell *matCellDef="let record; let i = index">
            <ng-container *ngIf="!isEditing(i)">
              {{ record.notes }}
            </ng-container>
            <ng-container *ngIf="isEditing(i)">
              <input class="i" matInput [(ngModel)]="record.notes" />
            </ng-container>            </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

      </mat-table>
    </mat-card>

  </div>
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner"></div>
    <p>טוען נתונים, אנא המתן...</p>
  </div>