.update-card {
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  text-align: right;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
button{
    background-color: #ffd740;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 100px;
}
.body{
    text-align: center;
    direction: rtl;
}
mat-form-field {
    display: block;
    margin-bottom: 10px; /* ריווח בין האינפוטים */
  }


  .mat-column-baseAllowance,
.mat-column-datot,
.mat-column-ginusar {
  width: 4ch;
  text-align: center;
}

.cell-input-4 {
  width: 7ch;
}
